import { NextFunction, Request, Response } from "express";

import { AppError } from "@/types";
import { newInternalError } from "@/utils";

export default async (req: Request, res: Response, next: NextFunction) => {
  try {
  } catch (err) {
    if (err instanceof AppError) return next(err);
    else return next(newInternalError("abc", err));
  }
};
